
.section_sobre {
    width: 100%;
    height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    
}

@keyframes flutuar {
    0% {
        /* Posição inicial: 0% do eixo Y */
        transform: translateY(0);
    }
    50% {
        
        transform: translateY(-8px); /*Ajusta a flutuar*/
    }
    100% {
        /* Retorna à posição inicial */
        transform: translateY(0);
    }
}

.textos {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


    & h1 {
        color: #00C9A7;
        font-size: 50px;
        margin-left: 50px;
        animation-name: flutuar;
        animation-duration: 4s; 
        animation-iteration-count: infinite; 
        animation-timing-function: ease-in-out;
       
    }

    & p {
        font-size: 20px;
        color: gray;
        margin-left: 50px;
        margin-bottom: 20px;
    }

    & .Contato {
        width: 180px;
        height: 60px;
        border: 2px solid #00C9A7;
        background-color: transparent;
        color: #00C9A7;
        font-size: 13px;
        font-weight: bold;
        border-radius: 15px;
        margin-left: 50px;
        cursor: pointer; 
        transition: all 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }

    & .Contato:hover {
        -color: #00C9A7;
        box-shadow: 0 6px 12px #00C9A7; 
        transform: translateY(-3px); 
    }


    & .Contato:active {
        transform: translateY(0); 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

}

.linha_azul {
    border: 10px;
    border-top: 3px solid; 
    border-color: #00C9A7; 
    width: 100px; 
    margin-left: 50px ;
    margin-top: 10px;
    margin-bottom: 20px;
}

@keyframes flutuarImg {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Sobe */
    }
    100% {
        transform: translateY(0);
    }
}


@keyframes flutuarQuadrado {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(5px, -5px) rotate(1deg); /* Sobe e gira */
    }
    50% {
        transform: translate(0, -10px) rotate(0deg); /* Sobe */
    }
    75% {
        transform: translate(-5px, -5px) rotate(-1deg); /* Desce e gira */
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.images {
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    & .quadrado1 {
        position: absolute;
        z-index: 1;
        right: 240px;
        top: 170px;
        width: 270px;
        height: 380px;
        background-color: #67FF6C;
        animation: flutuarQuadrado 6s ease-in-out infinite alternate;
    }

    & .quadrado2 {
        position: absolute;
        z-index: 1;
        left: 200px;
        bottom: 150px;
        width: 310px;
        height: 400px;
        background-color: #6F42C1;
        animation: flutuarQuadrado 7s ease-in-out infinite alternate-reverse;
    }



    & .leh {
        position: relative;
        z-index: 2;
        width: 350px;
        height: 430px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
        border-radius: 8px; 
        animation: flutuarImg 5s ease-in-out infinite;
    }
}

@media (max-width: 500px) {
    
    .section_sobre {
        flex-direction: column; 
        align-items: center;
        padding: 40px 20px; 
        height: auto; 
    }

    .images {
        width: 100%; 
        height: 250px; 
        margin-bottom: 20px;
        margin-top: 30px; 
    }

    .textos {
        width: 100%;
        height: auto; 
        text-align: center; 
    }
    
    .textos h1,
    .textos hr,
    .textos p,
    .textos .Contato{
        margin-left: auto;
        margin-right: auto;
    }

    .textos h1 {
        font-size: 26px; 
        animation: none; 
        margin-top: 0; 
        margin-bottom: 10px;
    }

    .textos hr {
        margin-bottom: 20px; 
        width: 50%; 
    }

    .textos p {
        font-size: 14px; 
        line-height: 1.6; 
        padding: 0 10px; 
        margin-bottom: 30px; 
    }

    .textos .Contato {
        width: 100%; 
        max-width: 300px; 
        padding: 15px;
        font-size: 16px; 
        margin-top: 20px; 
        margin-left: auto; 
        margin-right: auto;
    }
    
    .quadrado1, .quadrado2 {
        display: none;
    }
    
    .images .leh {
        width: 80%; 
        max-width: 300px; 
        animation: none;
    }
}