
.section_home {
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/img_homePage.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;


    & h1 {
        font-size: 48px;
        color: white;
        margin-left: 60px;
        margin-top: 180px;
        margin-bottom: 30px;
    }

    & hr {
        width: 14%; 
        margin-left: 60px; 
        height: 2px; 
        background-color: white; 
        margin-bottom: 30px;
        
    }

    & h2{
        color: white;
        font-size: 25px;
        font-weight: 300;
        margin-left: 60px;
        margin-bottom: 30px;
    }

    & .botao_contato {
        width: 17%;
        background-color: #00c9a7; 
        color: white;
        border-radius: 50px; 
        padding: 25px 40px;
        font-size: 20px;
        font-weight: bold;
        margin-left: 60px;        
    }

    & .botao_contato:hover {
        background-color: #6f42c1;
        transition: 0.5s ;
    }

}

@media (max-width: 768px) {
    .section_home {
        height: 60vh; 
        padding-top: 50px; 
        justify-content: center; 
    }

    
    .section_home h1, hr, h2, .botao_contato {
        margin-left: 20px; 
        margin-right: 20px; 
    }


    .section_home h1 {
        font-size: 36px;
        margin-top: 0; 
        margin-bottom: 15px;
    }
    
 
    .section_home hr {
        width: 30%; 
        margin-bottom: 20px;
    }

   
    .section_home h2 {
        font-size: 18px;
        margin-bottom: 25px;
        max-width: 90%; 
    }


    .section_home .botao_contato {
        width: 50%; 
        padding: 15px 20px;
        font-size: 18px;
    }
}